<!-- Start Call To Action Area -->
<section class="call-to-action-area section-spacing bg-color2">
<div class="container">
    <div class="call-to-wrapper text-center">
        <h2 class="heading-2">Let's catch-up
        </h2>
        <p>We don't want this foundation to be a fully online project, and want to meet motivated individuals in Latin America. If you are in LATAM region and interested in Quantrack Ecosystem then just ping us !</p>
        <ul class="call-to-btn-wrapper list-inline">
            <li class="list-inline-item"><a href="mailto:lab@quantrack.io" class="call-to-btn2 wow fadeInUp" data-wow-delay="500ms">Contact Us</a></li>
        </ul>
    </div>
</div>
</section>
<!-- End Call To Action Area -->
