<section class="faq-area section-spacing bg-color1">
<div class="faq-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Frequently </span>Asked Question <span class="section-label">F</span></h2>
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-6">
            <div class="faq-listed accordion" id="faq-listed">
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingOne">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Are your events free?
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                        Yes they are, and they will always be.
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingTwo">
                        <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Are your courses in Spanish/English ?
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                        It depends on the audience, but most of them are in spanish.
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingThree">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Do you organize hackathons ?
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq-listed">
                        <div class="faq-body card-body">Yes we do, join our Slack by sending us an e-mail to receive the last news.
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="faq-listed accordion" id="faq-listed2">
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingOne2">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        How can I join your Slack?
                        </button>
                    </div>
                    <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">Send an e-mail at lab@quantrack.io with your name and a brief presentation.
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingTwo2">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    What are your courses about?
                        </button>
                    </div>
                    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">
                        Mostly programming, but we will tackle more general topics in the future
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingThree2">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                        But... What is Quantrack ?
                        </button>
                    </div>
                    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">Quantrack is a Colombian Company Builder, we aspire to create and run cutting-edge tech companies,
                          Quantrack Lab is our non-profit non-profit
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Faq Area -->
