<div class="footer-contact bg-color3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-contact-intro">
                <div class="footer-contact-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <p>
                    Address <br /> <span>Cq 75 #38-09<br />Medellín, Colombia</span>
                </p>
                </div>
            </div>
            <div class="col-md-4 bg-color1">
                <div class="footer-contact-intro">
                <div class="footer-contact-icon">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <p>
                    Email <br /><span><a href="mailto:lab@quantrack.io">lab@quantrack.io</a><br /><a href="mailto:info@quantrack.io">info@quantrack.io</a></span>
                </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-contact-intro">
                <div class="footer-contact-icon">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <p>
                    Contact Hours <br />24/7<br />
                </p>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--End Hosting Solution Area -->
<footer class="footer-area bg-color1">
    <div class="container ">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-widget footer-about">
                        <a href="{{site.url}}" class="footer-logo wow"><img src="{{site.url}}/assets/images/quantrack-logo-black.png" alt="{{site.title}}"/></a>
                        <ul class="footer-contact-us list-inline">
                            <li><img src="{{site.baseurl}}/assets/images/f-contact-icon1.png" alt="contact icon" />Cq 75 #38-09
Medellín, Colombia
                            </li>
                            <li><img src="{{site.baseurl}}/assets/images/f-contact-icon2.png" alt="contact icon" /> Phone: +573506993306
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-2">
                    <div class="footer-widget">
                        <h4 class="footer-title heading-4">Socials</h4>
                        <ul class="footer-share-link list-inline">
                            <li class="list-inline-item"><a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/QuantrackI"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/jct94"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="footer-widget">
                      <h4 class="footer-title heading-4">Quantrack Ecosystem</h4>
                      <ul>
                        <li ><a href="https://quantrack.ai/">Quantrack AI</a></li>
                        <li ><a href="https://quantrackweb.com/">Quantrack Web</a></li>
                        <li ><a href="https://www.quantrackacademy.io/">Quantrack Academy</a></li>
                        <li ><a href="https://lukount.com">Lukount</a></li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright-text">
                        <p>© Copyright - {{date | date:"%y"}} {{site.title}} </a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="footer-copyright-menu list-inline">
                        <li class="list-inline-item"><a href="https://gdpr-info.eu/" target="_blank">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="mailto:lab@quantrack.io" target="_blank">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->
