<!-- Start Service Area -->
<section class="service-area section-spacing sec_minus-30 bg-color3">
<div class="service-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Our </span>Missions<span class="section-label">P</span></h2>
            <p>We want to enhance Latin America potential through open-source projects,
              learning events, and Quantrack Academy</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo2 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Open Source Projects</h4>
                        <p>Find us on GitHub</p>
                    </div>
                </div>
                <div class="service-content">
                    <p> Open source culture is more than just reusing free code snippets on StackOverflow.
                      It is is an ethos that values sharing. We would like to create amazing open-source projects in Latin America.</p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo3 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Events</h4>
                        <p>Find Us on MeetUp</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>We organize various types of entertaining conferences and meetups, connecting talented people and aspiring
                    tech professionals within the continent. Feel free to check our past events !</p>
                </div>
            </div>
            </div>

            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">

                <div class="service-title">
                  <div class="service-logo4 service-logo"></div>
                  <div class="service-heading">
                      <h4 class="heading-4">Academy</h4>
                      <p>Check our ressources</p>
                  </div>
              </div>
              <div class="service-content">
                  <p>We want to organizetraining in AI, Blockchain, Digital Transformation and Information Security.
                      We would like to motivate, inspire and encourage talented people in LATAM region going forward.</p>
                      </div>
                    </div>
                </div>

            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Service Area -->
