<!-- Start Service Area -->
<section class="service-area section-spacing sec_minus-30 bg-color3">
<div class="service-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Our </span>Missions<span class="section-label">P</span></h2>
            <p>We want to enhance Latin America potential through open-source projects,
              learning events, and Quantrack Academy</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo2 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Open-Source projects</h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Best cloud hosting omnis iste natus error sit volupta tem accusantium doloremque  totam  </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo3 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Reseller Hosting</h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Services of hosting  is iste natus error sit volupta tem accusantium doloremque, totam </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo4 service-logo"></div>
                    <div class="service-heading">
                        <h4 class="heading-4">Dedicate Hosted </h4>
                        <p>Safe and Secured</p>
                    </div>
                </div>
                <div class="service-content">
                    <p>Hot dedicated hosting best services omnis iste natus error sit volupta tem accusantium, totam  </p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Service Area -->
