
<section class="slider-area bg-color2">
<div class="banner-carousel2 owl-carousel ">
    <div class="slide-item slider-bg1" style="background-image:url(assets/images/slider-bg-1.jpg);">
        <div class="auto-container clearfix">
            <!-- Content Box -->
            <div class="content-box center-align">
                <div class="inner alternate">
                    <h2 class="style-two">QUANTRACK LAB</h2>
                    <p class="line-1 anim-typewriter" style="color:#FFFFFF"> Leverage talent diversity in Tech to scale social impact in Latin America<p/>
                    <div class="text"></div>
                    <div class="link-box">
                        <a href="https://quantrack.io" target="_blank" class="theme-btn btn-style-seven">More About Us <span class="arrow flaticon-next-8"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
